h1 {
  text-align: center;
}
#puzzle {
  width: 75%;
}

#words { 
  width: 25%;
  float: right;  
  border: 2px;
  border-style: dashed;

}

#words h2 {
  text-align: center;
}

#words form {
  text-align: center;
  padding: 4px;
  margin: 4px;
}

#words ul {
  list-style: none;
  font-size: medium;
  padding-bottom: 8px;
}




