!!!
%html{"ng-app" => "myTinyApp"}
  %head
  %body{"ng-controller" => "MainCtrl"}
    %h1 AngularJS-Rails Demo with XWord
    = render "grid", size: 20 
    %div#words
      %h2
        Words
      %div
        %ul
          %li{"ng-repeat" => "word in words"}
            %span{:draggable => true}
              {{word.name}}
      %div
        %form#addWord
          %input{:type => "text", "ng-model" => "newWord.name"}
          %button{"ng-click" => "addWord(newWord)"}
            Add word
