!!!
%html{"ng-app" => "myTinyApp"}
  %body
    %h1 AngularJS-Rails Demo with XWord
    %div#puzzle
    %div#words
      %h2
        Words
      %div{"ng-controller" => "MainCtrl"}
        %ul
          %li{"ng-repeat" => "word in words"}
            {{word.name}}

